
#itinerary {font-size: 12pt; margin-bottom: 15px;}
#itinerary .meal {background-color: #FFB6C1;}
#itinerary .rest {background-color: #FFB6C1;}
#itinerary .site {background-color: #C0FF3E;}
#itinerary .hotel {background-color: #CD853F; color:#fff;}
