<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title> New Bug/Feature request </title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<base href="" />
		
		<link rel="stylesheet" href="/static/jquery-ui-1.8.16/css/top/jquery-ui-1.8.16.custom.css" />
		<link rel="stylesheet" href="/static/timeentry/jquery.timeentry.css" />
		<link rel="stylesheet" href="/static/css/base.css" />
		
		<link rel="stylesheet" href="/static/css/general.css" />
		<link rel="stylesheet" href="/static/jquery.ui.ufd-0.6/css/ufd-base.css" />
		<link rel="stylesheet" href="/static/jquery.ui.ufd-0.6/css/uiCss/uiCss.css" />
		<link rel="stylesheet" href="/static/jquery.ui.ufd-0.6/css/plain/plain.css" />

		<link rel="stylesheet" href="/static/css/colors.css" />
		
		<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
		
		<script type="text/javascript" src="/static/jquery-ui-1.8.16/js/jquery-ui-1.8.16.top.min.js"></script>
		<script type="text/javascript" src="/static/timeentry/jquery.timeentry.min.js"></script>
		<script type="text/javascript" src="/static/js/top.js"></script>
		
		<script type="text/javascript" src="/static/js/general.js"></script>

	</head>
	<body>
	<br/><br/>
	<textarea id='testtx'></textarea>
	
	<div id='bar'>
		<span id='search'>
			<input type='text' id='search_in' placeholder='Type to search...' />
			<span id='calc_res'></span>
		</span>

		<span id="controls">
			<span id='statusbar'></span>
		</span>
	</div>
	<div id="details_dialog"></div>


	</body>
</html>


